In [3]:
import pandas as pd

# Membaca File CSV
df = pd.read_csv('Movie_Classification.csv')

# Menampilkan Data Nilai Ujian Mahasiswa
print(df)

     Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
501            21.2526               78.86               0.427  36624.115
502            20.9054               78.86               0.427  33996.600
503            21.2152               78.86               0.427  38751.680
504            22.1918               78.86               0.427  37740.670
505            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
501         142.6               8.680                8.775            8.620
502         150.2               8.780                8.945            8.770
503         164.5               8.830                8.970            8.855
504         162.8               8.730                8.845            8.800
505         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0              7.995           7.94         527367          YES      109.60
1              7.470           7.44         494055           NO      146.64
2              7.515           7.44         547051           NO      147.88
3              7.020           8.26         516279          YES      185.36
4              7.070           8.26         531448           NO      176.48
..               ...            ...            ...          ...         ...
501            8.970           6.80         492480           NO      186.96
502            8.930           7.80         482875          YES      132.24
503            9.010           7.80         532239           NO      109.56
504            8.845           6.80         496077          YES      158.80
505            8.790           6.80         518438          YES      205.60

     Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0            223.840  Thriller              23            494       48000
1            243.456     Drama              42            462       43200
2           2022.400    Comedy              38            458       69400
3            225.344     Drama              45            472       66800
4            225.792     Drama              55            395       72400
..               ...       ...             ...            ...         ...
501          243.584    Action              27            561       44800
502          263.296    Action              20            600       41200
503          243.824    Comedy              31            576       47800
504          303.520    Comedy              47            607       44000
505          203.040    Comedy              45            604       38000

     Start_Tech_Oscar
0                   1
1                   0
2                   1
3                   1
4                   1
..                ...
501                 0
502                 0
503                 0
504                 0
505                 0

[506 rows x 19 columns]

1 . Cek duplikat

In [9]:
import pandas as pd

def cek_duplikat(file_csv):
    try:
        # Baca file CSV
        df = pd.read_csv(file_csv)

        # Cek ada duplikat atau tidak
        duplikat = df.duplicated().any()

        if duplikat:
            print(f"Duplikat ditemuakan {file_csv}")
        else:
            print(f"Tidak ada file yang terdeteksi duplikat pada {file_csv}")

    except FileNotFoundError:
        print(f"File {file_csv} tidak ditemukan")

    except pd.errors.EmptyDataError:
        print(f"File {file_csv} kosong")

cek_duplikat('Movie_Classification.csv')

Tidak ada file yang terdeteksi duplikat pada Movie_Classification.csv

2.  Menemukan null values

In [8]:
import pandas as pd

def cek_null_values(file_csv):
    try:
        # Baca file CSV
        df = pd.read_csv(file_csv)

        # Cek nilai null
        null_values = df.isnull().sum()

        # Tampilkan hasil
        if null_values.any():
            print("Jumlah nilai null pada setiap kolom:")
            print(null_values[null_values > 0])
        else:
            print(f"Tidak ada nilai null pada file {file_csv}")

    except FileNotFoundError:
        print(f"File {file_csv} tidak ditemukan")

    except pd.errors.EmptyDataError:
        print(f"File {file_csv} kosong")

cek_null_values('Movie_Classification.csv')

Jumlah nilai null pada setiap kolom:
Time_taken    12
dtype: int64

3. Drop missing value

In [7]:
import pandas as pd

def drop_null_values(file_csv, output_file):
    try:
        # Baca file CSV
        df = pd.read_csv(file_csv)

        # Hapus nilai null
        df_cleaned = df.dropna()

        # Simpan hasil ke dalam file baru
        df_cleaned.to_csv(output_file, index=False)

        print(f"Nilai null berhasil dihapus dan disimpan ke {output_file}")

    except FileNotFoundError:
        print(f"File {file_csv} tidak ditemukan")

    except pd.errors.EmptyDataError:
        print(f"File {file_csv} kosong")

drop_null_values('Movie_Classification.csv', 'data_cleaned.csv')

Nilai null berhasil dihapus dan disimpan ke data_cleaned.csv

Data yang sudah di hapus null nya

In [10]:
import pandas as pd

# Membaca File CSV
df = pd.read_csv('data_cleaned.csv')

# Menampilkan Data Nilai Ujian Mahasiswa
print(df)

     Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
489            21.2526               78.86               0.427  36624.115
490            20.9054               78.86               0.427  33996.600
491            21.2152               78.86               0.427  38751.680
492            22.1918               78.86               0.427  37740.670
493            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
489         142.6               8.680                8.775            8.620
490         150.2               8.780                8.945            8.770
491         164.5               8.830                8.970            8.855
492         162.8               8.730                8.845            8.800
493         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0              7.995           7.94         527367          YES      109.60
1              7.470           7.44         494055           NO      146.64
2              7.515           7.44         547051           NO      147.88
3              7.020           8.26         516279          YES      185.36
4              7.070           8.26         531448           NO      176.48
..               ...            ...            ...          ...         ...
489            8.970           6.80         492480           NO      186.96
490            8.930           7.80         482875          YES      132.24
491            9.010           7.80         532239           NO      109.56
492            8.845           6.80         496077          YES      158.80
493            8.790           6.80         518438          YES      205.60

     Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0            223.840  Thriller              23            494       48000
1            243.456     Drama              42            462       43200
2           2022.400    Comedy              38            458       69400
3            225.344     Drama              45            472       66800
4            225.792     Drama              55            395       72400
..               ...       ...             ...            ...         ...
489          243.584    Action              27            561       44800
490          263.296    Action              20            600       41200
491          243.824    Comedy              31            576       47800
492          303.520    Comedy              47            607       44000
493          203.040    Comedy              45            604       38000

     Start_Tech_Oscar
0                   1
1                   0
2                   1
3                   1
4                   1
..                ...
489                 0
490                 0
491                 0
492                 0
493                 0

[494 rows x 19 columns]